@import './reset';
@import './import';

html {
  font-size: 16px;
  font-family: $base-font-family;

  @include breakpoint(xl) {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: $header-height 0 0 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

#__nuxt, #__layout {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

[lazy] {
  opacity: 0 !important;
  transition: opacity $base-transition !important;
}

[lazy="loaded"] {
  opacity: 1 !important;
}
